
body{
	background-color: lightgrey;
}
span{
	font-style: italic
}
h2 span{
	text-decoration:line-through;
}
#first{
	font-size: 100px;
}
h1{
	color: orange 
;font-size: 90px; 
	text-decoration:
.small{font-size: 12px}
h2{
	color:green; font-size: 22px;}
	
